html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
html, body {
  height: 100%;
  margin:0;
  padding:0;
}
body {
  font: 28px "Poppins",Arial,sans-serif;
  font-size: 2.8rem;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background:#21547c;
  background:linear-gradient(to bottom, #21547c 0%,#307ab2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
}
#wrapper, footer {
  display: table;
  width: 40%;
  margin:0 auto;
  height:96%;
}
#wrapper > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
footer {
  height:4%;
  text-align:center;
  font-size:1.5rem;
}

img.dw {
  height:16px;
  vertical-align:middle;
  margin-top:-2px;
  margin-left:2px;
}

a {
  text-decoration:none;
  color:white;
}

#motto, #footer {
  opacity:0;
}

.animationComplete, #motto.animationComplete, #footer.animationComplete {
  opacity:0;
  animation: fadeInFromNone 2s ease-out forwards;
}


@keyframes fadeInFromNone {
  0% {
      opacity: 0;
  }
  1% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@media only screen and (max-width: 960px) {
  html {font-size:50%;}
  #motto {
    margin:0.3em 0;
  }
  #wrapper {
    height:95%;
  }
  footer {
    height:5%;
  }
}

@media only screen and (max-width: 640px) {
  html {font-size:46%;}
}